# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
# specifically ignore functions node modules if present
/functions/node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Firebase sensitive files
scripts/serviceAccountKey.json
serviceAccountKey.json
